h1,
h2,
h3 {
  color: $color-text-primary;
}

h4,
.source__text,
.info__text {
  color: $color-text-ternary;
}

body {
  font: $font-body;
}

h1 {
  font: $font-h1;
}

h2 {
  @include font-h2;
}

h3 {
  @include font-h3;
}

h4 {
  @include font-h4;
}