* {
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  position: relative;
  z-index: 0;
  background-color: var(--color-bg);
  font: normal 400 16px/1.5 "League Spartan", sans-serif;
  --color-bg: #070724;
  --color-text-primary: #fff;
  --color-text-secondary: #38384f;
  --color-text-ternary: #838391;
  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6f2ed6;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec2a4;
  --color-neptune: #2d68f0;
  --color-mercury-alt: #d9f5fd;
  --color-venus-alt: #ffcb72;
  --color-earth-alt: #5457ff;
  --color-mars-alt: #ff5d34;
  --color-jupiter-alt: #f7aa71;
  --color-saturn-alt: #ffc957;
  --color-uranus-alt: #00f4d4;
  --color-neptune-alt: #377dff;
}

.stars-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 780px;
  background-repeat: repeat-y;
}

main {
  position: absolute;
  z-index: 200;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: var(--color-text-primary);
}

h4,
.source__text,
.info__text {
  color: var(--color-text-ternary);
}

h1,
h2 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
}

h3,
h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
}

.hidden,
.hidden-sm {
  display: none;
}

/* **************************************
*****************************************
NAVIGATION
*****************************************
************************************** */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px 9px;
}

.nav__logo {
  font-size: 22px;
  background-color: var(--color-bg);
}

.fa-bars {
  height: 17px;
  color: var(--color-text-primary);
  font-size: 1.3rem;
}

.fa-bars--active {
  color: var(--color-text-secondary);
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 22px 0 16px;
}

.nav-list__item {
  width: 100%;
  height: 55px;
  border-bottom: 0.5px solid var(--color-text-secondary);
}

.nav-list__item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-list__inner-item {
  display: flex;
  align-items: center;
  column-gap: 25px;
  width: 122px;
}

.nav-list__color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.nav-list__color--mercury {
  background-color: var(--color-mercury-alt);
}

.nav-list__color--venus {
  background-color: var(--color-venus-alt);
}

.nav-list__color--earth {
  background-color: var(--color-earth-alt);
}

.nav-list__color--mars {
  background-color: var(--color-mars-alt);
}

.nav-list__color--jupiter {
  background-color: var(--color-jupiter-alt);
}

.nav-list__color--saturn {
  background-color: var(--color-saturn-alt);
}

.nav-list__color--uranus {
  background-color: var(--color-uranus-alt);
}

.nav-list__color--neptune {
  background-color: var(--color-neptune-alt);
}

.nav-list__p {
  color: var(--color-text-primary);
  letter-spacing: 1.85px;
  text-transform: uppercase;
}

.fa-chevron-right {
  color: var(--color-text-ternary);
  font-size: 0.6rem;
}

/* **************************************
*****************************************
TOGGLE MENU
*****************************************
************************************** */

.toggle-menu-sm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 48px;
  border-top: 1px solid var(--color-text-secondary);
  border-bottom: 1px solid var(--color-text-secondary);
}

.toggle-menu-sm__item {
  display: flex;
  align-items: center;
  height: 46px;
  text-decoration: none;
}

.toggle-menu-sm__item:hover:not(.toggle-menu-sm__item--active) {
  padding-bottom: 3px;
}

.mercury:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-mercury);
}

.mercury--active {
  border-top: 3px solid var(--color-mercury);
}

.venus:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-venus);
}

.venus--active {
  border-top: 3px solid var(--color-venus);
}

.earth:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-earth);
}

.earth--active {
  border-top: 3px solid var(--color-earth);
}

.mars:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-mars);
}

.mars--active {
  border-top: 3px solid var(--color-mars);
}

.jupiter:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-jupiter);
}

.jupiter--active {
  border-top: 3px solid var(--color-jupiter);
}

.saturn:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-saturn);
}

.saturn--active {
  border-top: 3px solid var(--color-saturn);
}

.uranus:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-uranus);
}

.uranus--active {
  border-top: 3px solid var(--color-uranus);
}

.neptune:hover:not(.toggle-menu-sm__item--active) {
  border-top: 3px solid var(--color-neptune);
}

.neptune--active {
  border-top: 3px solid var(--color-neptune);
}

.toggle-menu-sm__heading {
  padding-left: 2px;
  background-color: var(--color-bg);
  color: var(--color-text-ternary);
  font-size: 0.6rem;
  letter-spacing: 2.6px;
}

.toggle-menu-sm__item:hover .toggle-menu-sm__heading {
  color: var(--color-text-primary);
}

.toggle-menu-sm__item--active .toggle-menu-sm__heading {
  margin-top: -3px;
  color: var(--color-text-primary);
}

/* **************************************
*****************************************
PLANET
*****************************************
************************************** */

.planet {
  position: relative;
}

.planet {
  width: 90px;
  margin: 0 auto;
}

.planet__img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: 90px 0 70px;
}

.planet__ternary {
  position: absolute;
  bottom: 36px;
  left: 20.5px;
  width: 50px;
  height: auto;
}

/* **************************************
*****************************************
INFO AND SOURCE
*****************************************
************************************** */

.info {
  padding: 0 20px;
  text-align: center;
}

.info__title {
  margin: 0;
}

.info__text {
  max-width: 370px;
  margin: 16px auto 0;
  font-size: 0.85rem;
  background-color: var(--color-bg);
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 0.875rem;
}

.source__text {
  color: var(--color-text-secondary);
  background-color: var(--color-bg);
}

.source__text span {
  padding: 0 3px;
}

.source__link {
  padding-right: 4px;
  background-color: var(--color-bg);
  color: var(--color-text-ternary);
}

.source--mercury:hover {
  color: var(--color-mercury);
}

.source--venus:hover {
  color: var(--color-venus);
}

.source--earth:hover {
  color: var(--color-earth-alt);
}

.source--mars:hover {
  color: var(--color-mars-alt);
}

.source--jupiter:hover {
  color: var(--color-jupiter-alt);
}

.source--saturn:hover {
  color: var(--color-saturn-alt);
}

.source--uranus:hover {
  color: var(--color-uranus);
}

.source--neptune:hover {
  color: var(--color-neptune);
}

/* **************************************
*****************************************
CARDS
*****************************************
************************************** */

.cards {
  padding: 0 20px;
}

.cards__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 370px;
  padding: 8px 20px;
  border: 1px solid var(--color-text-secondary);
  margin: 0 auto 8px;
}

.cards__text {
  padding-top: 2px;
  font-size: 0.5rem;
  letter-spacing: 1px;
}

.cards__stat {
  margin-top: -2px;
  font-size: 0.975rem;
}

/* **************************************
*****************************************
MEDIUM SCREEN MEDIA QUERIES
*****************************************
************************************** */

@media (min-width: 768px) {
  .hidden-sm {
    display: block;
  }

  .stars-bg {
    height: 908px;
  }

  .nav {
    flex-direction: column;
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 0;
    border-bottom: 1px solid var(--color-text-secondary);
    margin-bottom: 50px;
  }

  .nav__logo {
    margin-bottom: 18px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
    padding: 0 35px;
    margin-bottom: 0;
    list-style: none;
  }

  .menu__item {
    height: 100%;
    background-color: var(--color-bg);
  }

  .menu__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 10px;
    text-decoration: none;
  }

  .menu__link:hover {
    padding-bottom: 7px;
    margin-top: 0px;
  }

  .menu__link--active {
    padding-bottom: 7px;
    margin-top: 0px;
  }

  .nav-mercury:hover {
    border-bottom: 3px solid var(--color-mercury);
  }

  .nav-mercury--active {
    border-bottom: 3px solid var(--color-mercury);
  }

  .nav-venus:hover {
    border-bottom: 3px solid var(--color-venus);
  }

  .nav-venus--active {
    border-bottom: 3px solid var(--color-venus);
  }

  .nav-earth:hover {
    border-bottom: 3px solid var(--color-earth-alt);
  }

  .nav-earth--active {
    border-bottom: 3px solid var(--color-earth-alt);
  }

  .nav-mars:hover {
    border-bottom: 3px solid var(--color-mars);
  }

  .nav-mars--active {
    border-bottom: 3px solid var(--color-mars);
  }

  .nav-jupiter:hover {
    border-bottom: 3px solid var(--color-jupiter-alt);
  }

  .nav-jupiter--active {
    border-bottom: 3px solid var(--color-jupiter-alt);
  }

  .nav-saturn:hover {
    border-bottom: 3px solid var(--color-saturn-alt);
  }

  .nav-saturn--active {
    border-bottom: 3px solid var(--color-saturn-alt);
  }

  .nav-uranus:hover {
    border-bottom: 3px solid var(--color-uranus);
  }

  .nav-uranus--active {
    border-bottom: 3px solid var(--color-uranus);
  }

  .nav-neptune:hover {
    border-bottom: 3px solid var(--color-neptune);
  }

  .nav-neptune--active {
    border-bottom: 3px solid var(--color-neptune);
  }

  .menu__heading {
    margin-bottom: 10px;
    color: var(--color-text-ternary);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .menu__link:hover .menu__heading {
    color: var(--color-text-primary);
  }

  .menu__link--active .menu__heading {
    color: var(--color-text-primary);
  }

  #toggle-menu-sm__hidden {
    display: none;
  }

  .planet {
    width: 185px;
  }

  .planet__img {
    margin-bottom: 100px;
  }

  .planet__ternary {
    bottom: 39px;
    left: 48.2px;
    width: 90px;
  }

  .info-toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 5px;
  }

  .info {
    width: 48%;
    padding: 0;
  }

  .info__title,
  .info__text {
    text-align: justify;
  }

  .info__title {
    font-size: 2.25rem;
    margin-bottom: 10px;
  }

  .info__text {
    margin: 18px auto 0 0;
  }

  .source {
    justify-content: flex-start;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    width: 41%;
  }

  .toggle-menu__item {
    width: 100%;
    background-color: var(--color-bg);
    text-decoration: none;
  }

  .toggle-menu__item:hover:not(.toggle-menu__item--active),
  .toggle-menu__item:hover:not(.toggle-menu__item--active)
    .toggle-menu__heading
    span {
    background-color: var(--color-text-secondary);
  }

  .toggle-mercury--active,
  .toggle-mercury--active .toggle-menu__heading span {
    background-color: var(--color-mercury);
  }

  .toggle-venus--active,
  .toggle-venus--active .toggle-menu__heading span {
    background-color: var(--color-venus);
  }

  .toggle-earth--active,
  .toggle-earth--active .toggle-menu__heading span {
    background-color: var(--color-earth);
  }

  .toggle-mars--active,
  .toggle-mars--active .toggle-menu__heading span {
    background-color: var(--color-mars-alt);
  }

  .toggle-jupiter--active,
  .toggle-jupiter--active .toggle-menu__heading span {
    background-color: var(--color-jupiter-alt);
  }

  .toggle-saturn--active,
  .toggle-saturn--active .toggle-menu__heading span {
    background-color: var(--color-saturn-alt);
  }

  .toggle-uranus--active,
  .toggle-uranus--active .toggle-menu__heading span {
    background-color: var(--color-uranus);
  }

  .toggle-neptune--active,
  .toggle-neptune--active .toggle-menu__heading span {
    background-color: var(--color-neptune);
  }

  .toggle-mercury--active,
  .toggle-mercury--active .toggle-menu__heading span {
    background-color: var(--color-mercury);
  }

  .toggle-menu__item--active .toggle-menu__heading span {
    color: var(--color-text-primary);
  }

  .toggle-menu__heading {
    padding: 12px 15px 10px;
    border: 1px solid var(--color-text-secondary);
    font-size: 0.6rem;
    letter-spacing: 2.6px;
  }

  .toggle-menu__heading span {
    padding-right: 12px;
    background-color: var(--color-bg);
    color: var(--color-text-ternary);
  }

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 0 35px 15px;
    background-color: var(--color-bg);
  }

  .cards__item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 8px 15px;
  }

  .cards__text {
    margin: 3px 0 6px;
  }

  .cards__stat {
    margin-bottom: 3px;
    font-size: 1rem;
  }
}

/* **************************************
*****************************************
LARGE SCREEN MEDIA QUERIES
*****************************************
************************************** */

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }

  .nav {
    flex-direction: row;
    height: 62px;
    padding: 0 25px;
  }

  .nav__logo {
    margin: 0;
  }

  .menu {
    max-width: 482px;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .menu__link {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .menu__link:hover {
    border-bottom: 0;
  }

  .menu__link--active {
    border-bottom: 0;
  }

  .nav-mercury:hover {
    border-top: 3px solid var(--color-mercury);
  }

  .nav-mercury--active {
    border-top: 3px solid var(--color-mercury);
  }

  .nav-venus:hover {
    border-top: 3px solid var(--color-venus);
  }

  .nav-venus--active {
    border-top: 3px solid var(--color-venus);
  }

  .nav-earth:hover {
    border-top: 3px solid var(--color-earth-alt);
  }

  .nav-earth--active {
    border-top: 3px solid var(--color-earth-alt);
  }

  .nav-mars:hover {
    border-top: 3px solid var(--color-mars);
  }

  .nav-mars--active {
    border-top: 3px solid var(--color-mars);
  }

  .nav-jupiter:hover {
    border-top: 3px solid var(--color-jupiter-alt);
  }

  .nav-jupiter--active {
    border-top: 3px solid var(--color-jupiter-alt);
  }

  .nav-saturn:hover {
    border-top: 3px solid var(--color-saturn-alt);
  }

  .nav-saturn--active {
    border-top: 3px solid var(--color-saturn-alt);
  }

  .nav-uranus:hover {
    border-top: 3px solid var(--color-uranus);
  }

  .nav-uranus--active {
    border-top: 3px solid var(--color-uranus);
  }

  .nav-neptune:hover {
    border-top: 3px solid var(--color-neptune);
  }

  .nav-neptune--active {
    border-top: 3px solid var(--color-neptune);
  }

  .menu__link--active .menu__heading {
    color: var(--color-text-primary);
  }

  .menu__heading {
    margin: 0;
    font-size: 0.75rem;
  }

  .menu__link:hover .menu__heading {
    margin-top: 4px;
    color: var(--color-text-primary);
  }

  .menu__link--active .menu__heading {
    margin-top: -3px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 120px;
    margin: 0 0 80px 0;
  }

  .planet-container {
    width: 50%;
  }

  .planet {
    width: 235px;
  }

  .planet__ternary {
    bottom: 30px;
    left: 66.2px;
    width: 105px;
  }

  .info-toggle-container {
    flex-direction: column;
    justify-content: center;
    width: 45%;
    max-width: 370px;
    padding: 0;
  }

  .info {
    width: 100%;
  }

  .info__title {
    font-size: 4rem;
  }

  .info__text {
    color: var(--color-text-primary);
    font-size: 0.95rem;
    letter-spacing: 0.2px;
  }

  .toggle-menu {
    width: 100%;
    height: 165px;
  }

  .source__text {
    color: var(--color-text-ternary);
    letter-spacing: 0.3px;
  }

  .source__link {
    letter-spacing: 0.3px;
  }

  .toggle-menu__heading {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .cards {
    column-gap: 25px;
    padding: 0 120px 15px;
  }

  .cards__item {
    padding: 12px 15px;
  }

  .cards__text {
    font-size: 0.775rem;
    font-weight: 500;
  }

  .cards__stat {
    font-size: 2rem;
  }
}
