// FONT VARIABLE
$font-primary: normal 16px/1.5 'Antonio',
sans-serif;
$font-secondary: normal 16px/1.5 'League Spartan',
sans-serif;
;


// COLOR VARIABLES
$color-bg: #070724;
$color-text-primary: #fff;
$color-text-secondary: #38384f;
$color-text-ternary: #838391;
$color-cool-one: #1ec2a4;
$color-cool-two: #419ebb;
$color-cool-three: #2d68f0;
$color-cool-four: #6f2ed6;
$color-warm-one: #eda249;
$color-warm-two: #cd5120;
$color-warm-three: #d14c32;
$color-warm-four: #d83a34;