// FONT VARIABLE
$font-primary: 'Antonio',
sans-serif;
$font-secondary: 'League Spartan',
sans-serif;
$font-body: normal 400 14px/1.5 $font-secondary;
$font-h1: normal 500 80px/1.5 $font-primary;
$font-h2: normal 500 40px/1.5 $font-primary;
$font-h3: normal 600 12px/1.5 $font-secondary;
$font-h4: normal 600 11px/1.5 $font-secondary;


// COLOR VARIABLES
$color-bg: #070724;
$color-text-primary: #fff;
$color-text-secondary: #38384f;
$color-text-ternary: #838391;
$color-mercury: #419ebb;
$color-venus: #eda249;
$color-earth: #6f2ed6;
$color-mars: #d14c32;
$color-jupiter: #d83a34;
$color-saturn: #cd5120;
$color-uranus: #1ec2a4;
$color-neptune: #2d68f0;


// BREAKPOINTS
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;